.item {
  margin-right: 5rem;
}

.card {
  width: 50rem;
  margin: 10px;
}

.listItem {
  display: flex;

  justify-content: space-around;
}

.mycol {
  margin: 10px;
}
.textarea {
  width: 300px;
  height: 150px;
  margin: 10px;
}
