// colors variables
$white: #ffffff;
$black: #000000;
$gray: #6c757d;
$gray-dark: #0f1531;
$gray-medium: #8e94ac;
$gray-light: #aab2bd;
$gray-lighter: #e8eff4;
$gray-lightest: #eee;

$primary: #405189;
$secondary: #a3a4a5;
$success: #00c689;
$info: #3da5f4;
$warning: #fda006;
$danger: #f1536e;
$light: #f8f9fa;
$dark: #08113b;

// media query variables
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1025px;
$breakpoint-xl: 1280px;

// dashboard-related variables
$dash-header-height: 65px;

// sidebar-related variables
$sidebar-primary: #282a3c;
$sidebar-primary-light: #2c2e3e;
$sidebar-width: 260px;
