@import "styles/variables.scss";

.homepage {
  display: flex;
  flex-direction: row;
  background: $gray-lightest;

  &-right {
    width: calc(100% - #{$sidebar-width});
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    overflow: auto;
  }

  &-navbar {
    flex: 1;
    background: $sidebar-primary-light;
    max-width: $sidebar-width;
  }

  &-header {
    position: absolute;
    top: 0;
    background-color: $white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 5rem;
    width: calc(100% - #{$sidebar-width});
  }

  &-content {
    flex: 1;
    margin-top: 5rem;
    padding: 15px;
    width: 100%;
  }

  &-footer {
    bottom: 0;
  }
}
