@import "styles/variables.scss";

.dropdown {
  select {
    width: 100%;
    font-size: 17px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &_error {
    select {
      border: 2px solid red;
    }
  }
}

.error {
  color: $danger;
  text-align: right;
}
