.content {
  border-style: solid;
  height: 25rem;
  width: 60rem;
}
.icon {
  margin-left: 3rem;
}
.mount {
  margin-left: 40rem;
}
.text {
  margin: 1rem;
  width: 50rem;
}
.title {
  margin-left: 1rem;
}
.input {
  border: 0px;
  border-radius: 0rem;
  background-color: #eeeeee;
  width: 50rem;
  height: 2rem;
}
.inputafter {
  width: 50rem;
}
.textarea {
  border: 0px;
  border-radius: 0rem;
  background-color: #eeeeee;
  width: 50rem;
  height: 5rem;
}
.textareaafter {
  width: 50rem;
  height: 5rem;
}
